{% load poll_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showcase</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="card my-2">  
            <div class="card-header text-center">
                <p class="h1">Caja de sugerencias</p>
            </div>
        </div>
        
        {% for cat in categories %}
            <div class="card my-1">
                <div class="card-header" id="casoA">
                    <a class="btn btn-link btn-block text-left" data-toggle="collapse" href="#datosCat{{cat.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="h4">{{cat.title}}</div>
                    </a> 
                    <div class="ml-4">
                        <em>En espera: {{cat|pending_suggestions}}</em> &nbsp;&nbsp;&nbsp;
                        <em>Implementadas: {{cat|implemented_suggestions}}</em>
                        <em class="float-right">Total: {{cat.suggestions.all.count}}</em>
                    </div>
                </div>

                <div class="collapse" id="datosCat{{cat.id}}">
                    {% if cat.suggestions.all.count == 0 %}
                        <div class="card my-1 mx-3" >
                            <div class="card-body">
                                <p>Esta categoria no posee ninguna sugerencia :(</p>
                            </div>
                        </div>
                    {% endif%}

                    {% for sug in cat.suggestions.all %}
                        <div class="card my-1 mx-3" >
                            <div class="card-header">                                
                                <a class="btn btn-link btn-block text-left" data-toggle="collapse" 
                                    href="#datosSug{{sug.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <div>
                                        {{sug.title}}
                                        {% if sug.is_implemented %}
                                            <i class="fas fa-check-circle float-right">Implemented</i>
                                        {% endif %}
                                    </div> 
                                </a>         
                            </div>
                            <div class="collapse" id="datosSug{{sug.id}}">
                                <div class="card-body">
                                    <p>{{sug.desc}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}   
                </div>
            </div>
        {% endfor %}
    </div>
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>