.main-bg {
    background-color: #FBF9FB;
}

a, p {
    font-family: 'Josefin Sans', serif;
}

.implemented-sug {
    background-color: #aae389;
}

.pending-sug {
    background-color: #D3E9F8;
}

.sug-title{
    font-size: 18px;
}

.title-card {
    background-color: #405F74;
}

.title-text {
    font-family: 'Staatliches', serif;
    font-size: 64px;
    color: #FBF9FB;
}

.btn-link {
    color: #2666ab;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #405F74 !important;
}

.btn-primary:hover{
    background-color: #638ba5 !important;
}

.btn-primary:disabled{
    background-color: #5e638e !important;
}


