.main-bg {
    background-color: #FBF9FB;
}

a, p {
    font-family: 'Josefin Sans', serif;
}

.implemented-sug {
    background-color: #bfe9a7;
}

.pending-sug {
    background-color: #D3E9F8;
}

.sug-title{
    font-size: 18px;
}

.title-card {
    background-color: #405F74;
}

.title-text {
    font-family: 'Staatliches', serif;
    font-size: 64px;
    color: #FBF9FB;
}

.btn-link {
    color: #2666ab;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #acbac3 !important;
}

FBF9FB
939F94
ACBAC3
CB8C37
7C7B7C
